CREATE DATABASE [DATABASE]
GO
USE [DATABASE]
GO
CREATE TABLE USER_TYPES
(
	USER_TYPE_ID char(10) PRIMARY KEY NOT NULL,
	USER_TYPE_NAME nvarchar(50) NOT NULL
)
GO

------------------------------------------------------------------------
CREATE TABLE CARD_TYPES
(
	CARD_TYPE_ID char(10) PRIMARY KEY NOT NULL,
	CARD_TYPE_NAME nvarchar(50) NOT NULL
)
GO

CREATE TABLE CARD_STATUS
(
	CARD_STATUS_ID char(10) PRIMARY KEY NOT NULL,
	CARD_STATUS_NAME nvarchar(20) NOT NULL
)

GO
CREATE TABLE USERS
(
	USERS_ID char(10) PRIMARY KEY NOT NULL,
	USERS_TYPE char(10) NOT NULL,
	USERS_NAME nvarchar(50) NOT NULL,
	USERS_IDENTITY char(10) NOT NULL, 
	USERS_ADDRESS nvarchar(100) NULL,
	USERS_PHONE char(10) NULL,
	USERS_EMAIL varchar(50) NULL,
	CONSTRAINT USERS_TYPE_FK FOREIGN KEY(USERS_TYPE) REFERENCES USER_TYPES(USER_TYPE_ID)
)
GO

CREATE TABLE CARDS
(
	CARD_ID char(10) PRIMARY KEY NOT NULL,
	CARD_TYPE char(10) NOT NULL,
	CARD_STATUS char(10) NOT NULL,
	CARD_DESCRIPTION nvarchar(100) NULL,
	CONSTRAINT CARD_TYPE_FK FOREIGN KEY(CARD_TYPE) REFERENCES CARD_TYPES(CARD_TYPE_ID),
	CONSTRAINT CARD_STATUS_FK FOREIGN KEY(CARD_STATUS) REFERENCES CARD_STATUS(CARD_STATUS_ID)
)
GO
CREATE TABLE ACCOUNTS
(
	ACCOUNT_ID char(10) PRIMARY KEY NOT NULL,
	ACCOUNT_USERS_ID char(10) NOT NULL,
	ACCOUNT_CARD_ID char(10) NULL,
	ACCOUNT_PASSWORD varchar(100) NOT NULL,
	CONSTRAINT ACC_USER_FK FOREIGN KEY(ACCOUNT_USERS_ID) REFERENCES USERS(USERS_ID),
	CONSTRAINT ACC_CARD_FK FOREIGN KEY(ACCOUNT_CARD_ID) REFERENCES CARDS(CARD_ID)

)
GO

CREATE TABLE TRANSACTIONS
(
	TRANS_ID int PRIMARY KEY NOT NULL,
	TRANS_ACCOUNT_ID char(10) NOT NULL,
	TRANS_CARD_ID char(10) NOT NULL,
	TRANS_TIME datetime NOT NULL,
	TRANS_TYPE char(10) NOT NULL,
	CONSTRAINT TRANS_ACC_FK FOREIGN KEY(TRANS_ACCOUNT_ID) REFERENCES ACCOUNTS(ACCOUNT_ID)
)
GO
create PROC STORE_CARD_INSERT --Thêm thẻ vào CSDL
	@ID CHAR(10),
	@TYPE CHAR(10),
	@STATUS CHAR(10),
	@DESCRIPTION NVARCHAR(100)
AS
	INSERT INTO CARDS(CARD_ID,CARD_STATUS,CARD_TYPE,CARD_DESCRIPTION) VALUES(@ID,@STATUS,@TYPE,@DESCRIPTION)
GO
CREATE PROC STORE_CARD_UPDATE --cập nhật lại trạng thái thẻ
	@ID CHAR(10),
	@STATUS CHAR(10)
AS
	UPDATE CARDS SET CARD_STATUS=@STATUS WHERE CARD_ID=@ID
exec STORE_CARD '1','003','NhanVien','CSD',''
CREATE PROC STORE_TRANSACTIONS
 @ID INT,
 @ACCOUNT_ID CHAR(10),
 @CARD_ID CHAR(10),
 @TIME DATETIME,
 @TYPE CHAR(10)
AS
	INSERT INTO TRANSACTIONS(TRANS_ID,TRANS_ACCOUNT_ID,TRANS_CARD_ID,TRANS_TIME,TRANS_TYPE) VALUES(@ID,@ACCOUNT_ID,@CARD_ID,@TIME,@TYPE)
GO
CREATE PROC STORE_ACCOUNTS
	@ID CHAR(10),
	@USER_ID CHAR(10),
	@CARD_ID CHAR(10),
	@PASSWORD VARCHAR(100)
AS
	 INSERT INTO ACCOUNTS(ACCOUNT_ID,ACCOUNT_USERS_ID,ACCOUNT_CARD_ID,ACCOUNT_PASSWORD) VALUES(@ID,@USER_ID,@CARD_ID,@PASSWORD)
GO

CREATE PROC STORE_ACCOUNTS_UPDATE
	@ID CHAR(10),
	@CARD_ID CHAR(10)
AS
	UPDATE ACCOUNTS SET ACCOUNT_CARD_ID=@CARD_ID WHERE ACCOUNT_ID=@ID


ALTER PROC STORE_USERS
	@NODE INT,
	@ID CHAR(10),
	@NAME NVARCHAR(50),
	@TYPE CHAR(10),
	@IDENTITY CHAR(10),
	@ADDRESS NVARCHAR(100),
	@PHONE CHAR(10),
	@EMAIL VARCHAR(50)
AS
	IF(@NODE=1) INSERT INTO USERS(USERS_ID,USERS_NAME,USERS_TYPE,USERS_IDENTITY,USERS_ADDRESS,USERS_PHONE,USERS_EMAIL) VALUES(@ID, @NAME,@TYPE, @IDENTITY,@ADDRESS,@PHONE,@EMAIL)
	ELSE UPDATE USERS SET USERS_NAME=@NAME,USERS_TYPE=@TYPE,USERS_IDENTITY=@IDENTITY,USERS_ADDRESS=@ADDRESS,USERS_PHONE=@PHONE,USERS_EMAIL=@EMAIL WHERE USERS_ID=@ID
GO
CREATE PROC STORE_STATUS
	@NODE INT,
	@ID CHAR(10),
	@NAME NVARCHAR(50)
AS 
	IF(@NODE=1)
		INSERT INTO CARD_STATUS(CARD_STATUS_ID,CARD_STATUS_NAME) VALUES(@ID,@NAME)
GO
CREATE PROC STORE_CARD_TYPE
	@NODE INT,
	@ID CHAR(10),
	@NAME NVARCHAR(50)
AS
	IF(@NODE=1)
		BEGIN
		INSERT INTO CARD_TYPES(CARD_TYPE_ID,CARD_TYPE_NAME) VALUES(@ID,@NAME);
		END
GO
CREATE PROC STORE_USER_TYPE
	@NODE INT,
	@ID CHAR(10),
	@NAME NVARCHAR(50)
AS
	IF(@NODE=1)
		BEGIN
			INSERT INTO USER_TYPES(USER_TYPE_ID,USER_TYPE_NAME) VALUES(@ID,@NAME)
		END